[Desktop Entry]
Encoding=UTF-8
Name=到 ../​sys/​ValidateCode.aspx?t=115 的链接
Type=Link
URL=http://bbs.hzu.edu.cn:8080/jwweb/sys/ValidateCode.aspx?t=115
Icon=text-html
